/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	#content-page h1 {
		margin: 20px 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {	
	#content-page h1 {
		margin: 40px 0;
	}

	#top-link-anchor {
		color: #000000;
		margin: 0;
		display: inline-block;
	}
}

body {
	font-family: "Roboto", sans-serif;
}

/*GLOBAL CLASS*/
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-900 { font-weight: 900; }

.navbar {
	border-radius: 0;
	margin: 0;
}

.navbar-nav {
	text-align: center;
}